{% extends "base.html" %}

{% block content %}

<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Olympic Committee</h1>
        <p class="lead text-muted">The Olympic Committee is the guardian of the Olympic Games and the leader of the Olympic Movement. A truly global organisation, it acts as a catalyst for collaboration between all Olympic stakeholders, including the athletes, the National Olympic Committees, the International Federations, Organising Committees for the Olympic Games, the Worldwide Olympic Partners and Olympic broadcast partners. It also collaborates with public and private authorities including the United Nations and other international organisations.</p>
        <p>
          <a href="/admin" class="btn btn-primary my-2">Login as Admin</a>
          <a href="/athletic" class="btn btn-success my-2">Login as Athlete</a>
        </p>
      </div>
    </section>



  </main>

{% endblock %}





